{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Укажите параметры для поиска постов</h1>
    <p>&nbsp;</p>
    {% if request.GET %}
   <h3>Публикаций найдено: {{ news|length }}</h3>
    <p>&nbsp;</p>
    {% endif %}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if request.GET %}
       {% if news %}
           <table>
               <tr>
                   <td>Заголовок</td>
                   <td>Дата публикации</td>
                   <td>Текст</td>
                   <td>Рейтинг</td>
               </tr>

               {% for piece_of_news in news %}
               <tr>
                   <td><a href="http://127.0.0.1:8000/news/{{ piece_of_news.id }}">{{ piece_of_news.title|censor }}</a></td>
                   <td>{{ piece_of_news.date_time|date:'d F Y' }}</td>
                   <td>{{ piece_of_news.content|truncatewords:20|censor }}</td>
                   <td>{{ piece_of_news.rating }}</td>
               </tr>
               {% endfor %}

           </table>

           <!-- Пагинация! -->

           {% if page_obj.has_previous %}
               <a href="?{% url_replace page=1 %}">1</a>
               {% if page_obj.previous_page_number != 1 %}
                   ...
                   <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
               {% endif %}
           {% endif %}


           {{ page_obj.number }}


           {% if page_obj.has_next %}
               <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
               {% if paginator.num_pages != page_obj.next_page_number %}
                   ...
                   <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
               {% endif %}
           {% endif %}
       {% else %}
           <h2>Нет результатов для отображения</h2>
       {% endif %}
   {% else %}

   {% endif %}

{% endblock content %}